{% load static %}

 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     {% for item in items %}
     <title>{{item.fields.item_name}}</title>
     {% endfor %}
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{% static "users/css/user_page.css" %}" rel="stylesheet">

 </head>

 <body>
   <a href={% url 'store' %}>Back</a>
{% for item in items %}
  <div class="item-container">

      {% if item.fields.is_superuser == True %}
        <div class="title"> {{item.fields.username}}<span class="star"/>⭐</span> </div>
      {% else %}
        <div class="title"> {{item.fields.username}} </div>
      {% endif %}

      {{item.fields.first_name}} {{ item.fields.last_name }}
    </br>
    {% if item.fields.is_active == True %}
      <div class="instock"> Recently Online! </div>
    {% else %}
      <div class="outsock"> User hasnt been on in a while </div>
    {% endif %}




      </br>
    Joined: {{ item.fields.date_joined }}
  </div>
  {% endfor %}
 </body>

 </html>
