 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>
     {% for item in items %}
      {{ item.fields.username }}
     {% endfor %}
   </title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" href="PATH">

 </head>

 <body>
   {% for item in items %}
    Username: {{ item.fields.username }} <br>

    Last Login: {{ item.fields.last_login }} <br>
    {% if item.fields.is_superuser == True %}
    <div>⭐Admin</div>
    {% else %}
      <div>Standard User</div>
    {% endif %}

    First Name: {{ item.fields.first_name }} <br>

    Last Name: {{ item.fields.last_name }} <br>
    {% if item.fields.is_active == True %}
      <div>🔵</div>
    {% else %}
      <div>🔴</div>
    {% endif %}
    {{ item.fields.is_active }} <br>

    Date Joined: {{ item.fields.date_joined}} <br>
   {% endfor %}
 </body>

 </html>
