@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body{
  font-family: 'Varela Round', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  font-weight: bold;
}

.item-container{
  text-align: center;
}
.img-container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.instock{

  color: blue;
}

.outsock{
  text-decoration: underline;
  color: red;
}

.title{
  font-size: 80px;
}
.star{
  font-size: 20px;
  vertical-align: top;
}
