{% load static %}

 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     {% for itemlist in items %}
     <title>{{itemlist.fields.item_name}}</title>
     {% endfor %}
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     <meta name="description" content="DESCRIPTION">
    <link href="{% static "storefront/css/item_page.css" %}" rel="stylesheet">

     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>
   <div class="item-container">
{% for itemlist in items %}
  <div id="img-div"><img id="item-image" src="{% get_media_prefix  %}{{ itemlist.fields.item_image }}"></div>
    {{itemlist.pk}}
    {{itemlist.fields.item_name}}
    {{itemlist.fields.item_price|floatformat:2}}
    {{itemlist.fields.item_is_available}}
    {{itemlist.fields.item_description}}
    {{itemlist.fields.user_id}}
  {% endfor %}
</div>
 </body>

 </html>
