{% load static %}

 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     {% for itemlist in items %}
     <title>{{itemlist.fields.item_name}}</title>
     {% endfor %}
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     <meta name="description" content="DESCRIPTION">
    <link href="{% static "storefront/css/item_page.css" %}" rel="stylesheet">

 </head>

 <body>
   <div class="item-container1">
{% for itemlist in items %}
  <div id="img-div"><img id="item-image" src="{% get_media_prefix  %}{{ itemlist.fields.item_image }}"></div>
  <div class="item-container2">
      {{itemlist.pk}}
      <div class="title">
      {{itemlist.fields.item_name}}
      </div>
      {{itemlist.fields.item_price|floatformat:2}}
      {{itemlist.fields.item_is_available}}
      <div class="desc">{{itemlist.fields.item_description}}</div>

      {{itemlist.fields.user_id}}
  </div>
  {% endfor %}
</div>
 </body>

 </html>
