<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Store Front</title>
      <meta name="description" content="DESCRIPTION">
      <link rel="stylesheet" href="PATH">
   </head>
   <body>
      <style>
         .title{
         text-align:center;
         }
         .item-container{
           border-radius: 10px;
           height: 150px;
           width:100%;
           box-shadow: 0px 0px 16px 0 rgba(0,0,0,0.2);
         }
         .item-image{
           width:100%;

         }

      </style>
      <div class="container">
         <div class="title display-2">Store Front</div>
         <div class="item-container">
           <img class="item-image" src="https://i.imgur.com/1eFrq2S.png">
         </div>
      </div>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
