{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Submit An Item</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="{% static "storefront/css/submit_item.css" %}" rel="stylesheet">

</head>

<body>
  <style>
  </style>
  <div class="item_form">
    <div class="container">
      <div class="subcontainer">
        <form action="{% url 'submit' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <label>{{ form.item_image.label_tag }}</label>
          {{ form.item_image }}
          <label>{{ form.item_name.label_tag }}</label>
          {{ form.item_name }}
          <label>{{ form.item_description.label_tag }}</label>
          {{ form.item_description }}
          <label>{{ form.item_price.label_tag }}</label>
          {{ form.item_price }}
          <label>Will the item be immediately available? </label>
          {{ form.item_is_available }}
          <input type="submit" value="Submit Item" />
          {% if form.errors %}
            <b>{{ form.errors }}</b>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</body>

</html>
